
/** Colunas da pagina de Hospedes **/
.hospede-coluna-cpf {
    width: 150px;
    text-align: center;
}
.hospede-coluna-acoes {
    width: 150px;
    text-align: center;
}

.hospede-coluna-idade {
    width: 60px;
    text-align: center;
}

/** Colunas da pagina de reservas **/

.reserva-coluna-cp {
    width: 400px;
    text-align: center;
}

.reserva-coluna-acomodacao {
    width: 140px;
    text-align: center;
}



.ui-filter-column .ui-column-customfilter .custom-filter {
    width: 100%;
    box-sizing: border-box;
}

.year-spinner input {
    width: 100%;
    box-sizing: border-box;
}

.tabela-exportacoes {
    float: right;
    padding-top: 2px;
}

.ui-menuitem-icon {
    text-align: center;
    margin-right: 2px;
}

.logo {
    text-align: center;
}