.pessoa-coluna-acoes {
    width: 80px;
    text-align: center;
}

.pessoa-coluna-idade {
    width: 70px;
    text-align: center;
}

.pessoa-coluna-nascimento {
    width: 120px;
    text-align: center;
}

.ui-filter-column .ui-column-customfilter .custom-filter {
    width: 100%;
    box-sizing: border-box;
}

.year-spinner input {
    width: 100%;
    box-sizing: border-box;
}

.tabela-exportacoes {
    float: right;
    padding-top: 2px;
}

.ui-menuitem-icon {
    text-align: center;
    margin-right: 2px;
}